<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../content/css/style.css">
      
    <script src="../node_modules/jquery/dist/jquery.js"></script>  
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bundle.js"></script>    

    <!-- No need for JSXTransformer! -->
  </head>
  <body>
    <div id="readitemscontainer"></div>
    <script src="../components/build/home.js"></script>
  </body>
</html>
